version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:8.0-node-browsers
    steps:
      - checkout
      - run:
          name: composer-update --1
          working_directory: src 
          command: sudo composer self-update
      - run: 
          name: composer-install
          working_directory: src 
          command: composer install -n --prefer-dist
      - run: 
          name: npm-ci
          working_directory: src
          command: npm ci
      - run:
          name: npm-run-dev 
          working_directory: src
          command: npm run dev
      - run:
          name: php test
          working_directory: src
          command: vendor/bin/phpunit