html{
  height: 100%;
}

body{
  height: 100%;
}

a{
  text-decoration: none;
  font-size: 18px;
}
a:hover{
  text-decoration: underline;
}

section{
    border:1px solid #CCCCCC;
    /* box-shadow: 2px 2px 4px gray; */
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

article{
    /* border:4px solid skyblue; */
    box-shadow: 1px 1px 2px gray;
    /* border:1px solid #CCCCCC; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button{
    background-color: transparent;
    /* border: none; */
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    margin-bottom: 10px;
}

a{
  margin-bottom: 10px; 
}

textarea{
    width: 100%;
}
.textarea{
  width: 100%;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--blue,
a.btn--blue {
  color: #fff;
  background-color: #004aeb;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #fff;
  background: #165cf1;
}

.toggle-form {
    display: none;
}

.frame {
 display: flex;
}

.buttons{
  margin-left: auto;
}

.sort-item{
  display: inline-block;
}

.sort_form{
  display: none;
}

.pagination {
  justify-content: center;
}

.hide{
  display: none;
}

.centering_item{
  vertical-align:  middle;
}

.serch-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.index-title{
  margin-bottom: 15px;
}

.h3-css{
  margin-top: 10px;
  margin-bottom: 15px;
}

.first-knowledge{
  margin-top: 20px;

}

.good-button-right{
  width: 160px;
}

.new-my-category{
  margin-top: 15px;
}

.button-login{
  margin-top: 15px;
  margin-bottom: 10px;
}

.register-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.target-search-input{
  margin-bottom: 5px;
}

.btn-css{
  margin-right: 3px;
}

.idea-button{
  margin-bottom: 8px;
}

.main-div{
  background-color: #FAFAFC;
  min-height: 100%;
}

.container{
  background-color: white;
}

.like-button{
  border: none;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.like-icon{
  color:#F91880;
}

.button-new-category{
  margin-bottom: 0px;
}

.button-search{
  margin-bottom: 0px;
}